.message-editor {
  position: relative;
  margin-bottom: 0.5rem;
}

.message-editor__label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.message-editor__text {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 0;
  border: 2px solid #999;
  border-radius: 4px;
  width: 100%;
  font-family: Arial, sans-serif;
  resize: none;
}

.message-editor__text:focus {
  border-color: orange;
}

.message-editor__actions {
  text-align: right;
}

.message-editor__visibility,
input[type="checkbox"] {
  vertical-align: middle;
}

.message-editor__visibility {
  display: inline-flex;
  align-items: flex-end;
  margin-left: 0.25rem;
  fill: transparent;
  border-color: #999;
  font-size: 0.875rem;
  cursor: pointer;
}

.message-editor__visibility > svg {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  border: 2px solid;
  border-radius: 4px;
  border-color: inherit;
  fill: inherit;
}

.message-editor input[type="checkbox"]:focus + .message-editor__visibility {
  border-color: orange;
}

.message-editor input[type="checkbox"]:checked + .message-editor__visibility {
  fill: #666;
}

.message-editor input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  width: 1rem;
  height: 1rem;
}

.message-editor__submit {
  margin-left: 1rem;
}